.moon {
  padding: 4px;
}

.hero-text {
  margin-top: 12rem;
  margin-left: 3rem;
}

.heading-text {
  word-spacing: 1rem;
}

.moon-cards-mt {
  margin-left: 0em;
  margin-right: 0em;
}

.transition-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}